<launch>
	
	<arg name="namespace" default="/" />
	<arg name="port" default="USB0" />
	<arg name="baudrate" default="921600" />
	
	<!-- ERL - UAV namespace -->
	
	<!-- 
	<group ns="$(arg namespace)">
		
		<include file="$(find mavros)/launch/apm2.launch">
			<arg name="fcu_url" value="/dev/tty$(arg port):$(arg baudrate)" />
		</include>
		
	</group>
	-->
	
	<!-- Linear MPC -->
	<include file="$(find mav_linear_mpc)/launch/ardupilot_erl_linear_mpc.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
	<!-- OdometryFiltered + RC2Joy + Command Forwarding -->
	<include file="$(find multirotor_transformations)/launch/ardupilot_multirotor_transformations.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
	<!-- Optitrack pose sensor -->
	<include file="$(find msf_updates)/launch/erl_pose_sensor.launch" >
		<arg name="imu_topic" value="/mavros/imu/data_raw" />
		<arg name="position_topic" value="/eaglered/position" />
	</include>
	
	<!-- From cartographer to MSF core -->
	<node name="map2transform" pkg="erl_drone" type="map2transform" output="screen" >
		<rempap from="eaglered/position" to="eaglered/position" />
	</node>
	
</launch>
