<launch>
	
	<arg name="namespace" default="/" />
	<arg name="port" default="USB0" />
	<arg name="baudrate" default="921600" />
	
	<!-- ERL - UAV namespace -->
	<group ns="$(arg namespace)">
		
		<!-- Launch MAVROS - Ardupilot -->
		<include file="$(find mavros)/launch/apm2.launch">
			<arg name="fcu_url" value="/dev/tty$(arg port):$(arg baudrate)" />
		</include>
		
	</group>
	
	<!-- Linear MPC -->
	<include file="$(find mav_linear_mpc)/launch/ardupilot_erl_linear_mpc.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
	<!-- OdometryFiltered + RC2Joy + Command Forwarding -->
	<include file="$(find multirotor_transformations)/launch/ardupilot_multirotor_transformations.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
	<!-- Optitrack pose sensor -->
	<include file="$(find msf_updates)/launch/optitrack_pose_sensor.launch">
		<arg name="namespace" value="$(arg namespace)" />
	</include>
	
</launch>
